In [1]:
import seaborn as sns
df=sns.load_dataset("flights")
df.head(10)

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121
5  1949   Jun         135
6  1949   Jul         148
7  1949   Aug         148
8  1949   Sep         136
9  1949   Oct         119

In [2]:
df.isnull().values.any()

False

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,144.0,1954.500000,3.464102,1949.0,1951.75,1954.5,1957.25,1960.0
passengers,144.0,280.298611,119.966317,104.0,180.00,265.5,360.50,622.0

In [6]:
!pip install researchpy
#temel istatistik kütüphanesi

Collecting researchpy
  Downloading researchpy-0.3.2-py3-none-any.whl (15 kB)
Requirement already satisfied: numpy in c:\users\osman\anaconda3\lib\site-packages (from researchpy) (1.21.5)
Requirement already satisfied: scipy in c:\users\osman\anaconda3\lib\site-packages (from researchpy) (1.7.3)
Requirement already satisfied: pandas in c:\users\osman\anaconda3\lib\site-packages (from researchpy) (1.4.2)
Requirement already satisfied: patsy in c:\users\osman\anaconda3\lib\site-packages (from researchpy) (0.5.2)
Requirement already satisfied: statsmodels in c:\users\osman\anaconda3\lib\site-packages (from researchpy) (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\osman\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\osman\anaconda3\lib\site-packages (from pandas->researchpy) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\osman\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\osman\anaconda3\lib\site-packages (from statsmodels->researchpy) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\osman\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels->researchpy) (3.0.4)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.2

In [8]:
import researchpy as rp
rp.summary_cont(df[["year","passengers"]])
#temel istatistik değerleri sayısal verler için!

     Variable      N       Mean        SD      SE  95% Conf.   Interval
0        year  144.0  1954.5000    3.4641  0.2887  1953.9294  1955.0706
1  passengers  144.0   280.2986  119.9663  9.9972   260.5372   300.0600

In [9]:
rp.summary_cat(df["month"])
#temel istatistik degerleri categoric degişkenler icin

   Variable Outcome  Count  Percent
0     month     Jan     12     8.33
1               Feb     12     8.33
2               Mar     12     8.33
3               Apr     12     8.33
4               May     12     8.33
5               Jun     12     8.33
6               Jul     12     8.33
7               Aug     12     8.33
8               Sep     12     8.33
9               Oct     12     8.33
10              Nov     12     8.33
11              Dec     12     8.33

In [10]:
#korelasyon : iki değişken arası ilişki ,anlamı ve yönü
df[["year","passengers"]].corr()
#  0-1---> dogru orantı
#  0-(-1)---> ters orantı
#  0--->  iliski yok

                year  passengers
year        1.000000    0.921824
passengers  0.921824    1.000000

In [11]:
#kovaryans  : iki değişken arası ilişki değişkenlik ölçüsü
df[["year","passengers"]].cov()

                  year    passengers
year         12.000000    383.087413
passengers  383.087413  14391.917201

In [13]:
import numpy as np 
passenger =np.array(df.passengers.T)
passenger

array([112, 118, 132, 129, 121, 135, 148, 148, 136, 119, 104, 118, 115,
       126, 141, 135, 125, 149, 170, 170, 158, 133, 114, 140, 145, 150,
       178, 163, 172, 178, 199, 199, 184, 162, 146, 166, 171, 180, 193,
       181, 183, 218, 230, 242, 209, 191, 172, 194, 196, 196, 236, 235,
       229, 243, 264, 272, 237, 211, 180, 201, 204, 188, 235, 227, 234,
       264, 302, 293, 259, 229, 203, 229, 242, 233, 267, 269, 270, 315,
       364, 347, 312, 274, 237, 278, 284, 277, 317, 313, 318, 374, 413,
       405, 355, 306, 271, 306, 315, 301, 356, 348, 355, 422, 465, 467,
       404, 347, 305, 336, 340, 318, 362, 348, 363, 435, 491, 505, 404,
       359, 310, 337, 360, 342, 406, 396, 420, 472, 548, 559, 463, 407,
       362, 405, 417, 391, 419, 461, 472, 535, 622, 606, 508, 461, 390,
       432], dtype=int64)

In [14]:
passenger.mean()

280.2986111111111

In [15]:
#Guven araligi : anakütle parametresinin tahmini degerini kapsayabilecek iki sayidan olusan bir aralik bulunmasi
import statsmodels.stats.api as sms

sms.DescrStatsW(passenger).tconfint_mean()
# % 95 dogruluk oraniyla yolcu sayisi 260 ile 300 arasinda olacagi soylenebilir

(260.53723755161025, 300.0599846706119)

In [16]:
#Bernoulli dagilimi : iki sonuclu olaylar icin kullanilan olasilik dagilimidir
#bir yazi tura oyunu dusunelim

from scipy.stats import bernoulli 
p=0.6  #tura gelme olasiligi
rv = bernoulli(p)
rv.pmf(k=1)  # olasilik kutle fonksiyonu

0.6

In [20]:
#Binom dagilimi  : bagimsiz n deneme sonucu x basarili olma olasiligi kullanilir 

# para 4 kere atiliyo 2 kere yazi gelme olasiligi ?
from scipy.stats import binom 
x=2  # basarili olma oalsiligi 
n=4  #deneme sayisi
p=0.5  # yazi gelme olasiligi

rv=binom(n,p)
rv.pmf(x)

#0.375 olasilikla basarili olabilir

0.375

In [21]:
#poisson dagilimi : belirli bir zamanda nadiren rastlanan olaylarda kullanilir

#bir universitede 5000 not girisinde 5 tane notun yanlis olmasi
#ortalama hata sayisi (lamda-mu) = 0.001
from scipy.stats import poisson
rv=poisson(mu=0.001)
rv.pmf(5)

8.325004165278163e-18

In [25]:
print("poisson dagilimi olasilik :%.18f "%(rv.pmf(5)))
#cok dusuk bir oran

poisson dagilimi olasilik :0.000000000000000008

In [26]:
#Normal Dagilim  : normal dagildigi bilinen surekli rassal degiskenlerin olasilik hesabi icin kullanilir

from scipy.stats import norm 
x=70 # ortalama genel örneklem sayisi
y=50 # standart sapma
z=3 # degisken 3 den az olma alasiligi


norm.cdf(x,y,z) # %99 3 ten kucuk olur

0.999999999986916

bir inanis (sav,tahmin) test etmek icin kullanilir
Hipotaz testi adimlari :

H0 : Hipotez kabul edilir
H1 : Hipotez reddedilir


1. hipotezlerin kurulmasi ve yönlerini belirleme 
2. anlamlilik duzeyi ve tablo degeri belirleme
3. test istatistigi belirleme ve test istatistigi hesaplama
4. test istatistigi ile alfaya karsilik gelen tablo degerlerinin karsilastirilmasi

 test istatistigi(zh) >  tablo degeri(zt) ise H0 reddedilir

5. yorum

Tek Örneklem T Testi : populasyon ortalamasi ile örneklem arasi anlamli farklilik var mı?
    bir pc ortalama 20 saniyede kapandigi ispatlanmak istenmesi
    
Bagimsiz iki Örneklem T Testi :iki grup ortalamsi arasinda karsilastirma yapilmak istendiginde kullanilir
    eski bilgisayar algoritmasi ile yeni bilgisayar algoritmasi karsilastirilmasi
    
Bagimli iki Örneklem T Testi : bagimli iki grup ortalamasi arasinda karsilastirma yapilmak istendiginde

In [28]:
#  H0 = 20   H1 != 20
import numpy as np

olcumler=np.random.randint(15,30,100)
import scipy.stats as st
st.describe(olcumler)

DescribeResult(nobs=100, minmax=(15, 29), mean=21.85, variance=19.17929292929293, skewness=0.025354324795713822, kurtosis=-1.0799541467503353)